.post-item {
  border: 1px solid gray;
}

.post-feed-container {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.post-image {
  width: 100%;
}

.post-header {
  height: 40%;
}

.default-avatar {
  background-color: aliceblue;
  width: 10%;
  height: 10%;
  border: 1px solid black;
  border-radius: 50%;
}